# Google Service Account Credentials (Prefered for background uploads)
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=

# Google OAuth Credentials (Fallback for manual connection)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_DRIVE_FOLDER_ID=1paMc3Olh8yEEsnOQ8cRosKSrGuiY7tVo

# Session Secret
SESSION_SECRET=
